Backend_OrcaAqui_MVP.json
{
  "name": "Backend OrçaAqui MVP",
  "nodes": [
    {
      "parameters": {
        "path": "orcaaqui-get-pedidos",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "1",
      "name": "Webhook GET Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 304],
      "webhookId": "edb97132-d51d-44ee-802f-74de5b0f5a0e"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1pcBs30k0hQyY6dXa1qiCR0SfpicKswcuy5ORpvWsY2A"
        },
        "sheetName": {
          "mode": "name",
          "value": "adiciona_pedido"
        },
        "options": {}
      },
      "id": "2",
      "name": "Ler Pedidos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [464, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx0sQC6QY7ljRYbm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orcaaqui-post-proposta",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "3",
      "name": "Webhook POST Proposta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 512],
      "webhookId": "e0277ed2-910c-4735-943c-86a3fd692734"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1pcBs30k0hQyY6dXa1qiCR0SfpicKswcuy5ORpvWsY2A"
        },
        "sheetName": {
          "mode": "name",
          "value": "analisa_resposta_pedido"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_hora": "={{ $json.body.data_hora }}",
            "id_pedido": "={{ $json.body.id_pedido }}",
            "nome_fornecedor": "={{ $json.body.nome_fornecedor }}",
            "observacoes": "={{ $json.body.observacoes }}",
            "preco_ofertado": "={{ $json.body.preco_ofertado }}",
            "whatsapp": "={{ $json.body.whatsapp }}"
          }
        },
        "options": {}
      },
      "id": "4",
      "name": "Salvar Proposta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [464, 512],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx0sQC6QY7ljRYbm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "path": "orcaaqui-analise-ia",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5",
      "name": "Webhook Analise IA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [256, 704],
      "webhookId": "3c6c8c08-5b18-46a8-8b34-47148040d706"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "id",
          "value": "1pcBs30k0hQyY6dXa1qiCR0SfpicKswcuy5ORpvWsY2A"
        },
        "sheetName": {
          "mode": "name",
          "value": "analisa_resposta_pedido"
        },
        "options": {}
      },
      "id": "6",
      "name": "Ler Propostas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [464, 704],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx0sQC6QY7ljRYbm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "code_prepare",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 704],
      "parameters": {
        "jsCode": "const id_pedido = $node[\"Webhook Analise IA\"].json.query.id_pedido;\nconst propostas = $input.all().filter(item => item.json.id_pedido == id_pedido);\n\nif (propostas.length === 0) {\n  return [{ json: { tem_propostas: false, id_pedido } }];\n} else {\n  return [{ json: { tem_propostas: true, data: propostas.map(p => p.json) } }];\n}"
      }
    },
    {
      "id": "if_propostas_novo",
      "name": "Tem Propostas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [864, 704],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "1a2b3c",
              "leftValue": "={{ $json.tem_propostas }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "code_vazio",
      "name": "Retornar Vazio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1072, 864],
      "parameters": {
        "jsCode": "return [{ json: { analise: \"Ainda não há propostas cadastradas para este pedido.\" } }];"
      }
    },
    {
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "XXXXXX"
            }
          ]
        },
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"Você é um analista de compras. Analise as propostas no array JSON a seguir e diga de forma super resumida (máx 3 parágrafos) qual é a melhor e o porquê.\\n\\nPropostas:\\n\" + JSON.stringify($json.data) }]}] } }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent"
      },
      "id": "9",
      "name": "Analisar com Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1072, 604]
    },
    {
      "id": "10",
      "name": "Retornar Json",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, 604],
      "parameters": {
        "jsCode": "const responseText = $input.first().json.candidates[0].content.parts[0].text;\nreturn [{ json: { analise: responseText } }];"
      }
    }
  ],
  "connections": {
    "Webhook GET Pedidos": {
      "main": [
        [
          {
            "node": "Ler Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Proposta": {
      "main": [
        [
          {
            "node": "Salvar Proposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Analise IA": {
      "main": [
        [
          {
            "node": "Ler Propostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Propostas": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "Tem Propostas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Propostas?": {
      "main": [
        [
          {
            "node": "Analisar com Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retornar Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar com Gemini": {
      "main": [
        [
          {
            "node": "Retornar Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
