Interview_Case.json
{
  "name": "Interview Case",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "e9b88d70-f9ba-49ee-b63e-ff3f10e9d06a",
      "name": "Escutar Email (Gmail)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [-816, 416],
      "credentials": {
        "gmailOAuth2": {
          "id": "N6Bph6Y0wyMoyGfU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vAypTHBPWa-fl6FqfyBBHavmfwXUyr36fC8NO-DJG-8",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1527066236,
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data/Hora": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm:ss') }}",
            "E-mail do Cliente": "={{ $json.From }}",
            "Nome do Cliente": "={{ $json.From }}",
            "Mensagem Original": "={{ $json.snippet }}"
          }
        },
        "options": {}
      },
      "id": "0336ada9-c553-428d-a045-badf2feae76a",
      "name": "Guardar no Sheets (Gmail)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-560, 512],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx0sQC6QY7ljRYbm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c80657a9-9164-4f4c-adec-ac3b75fb058c",
                    "leftValue": "={{ ($json[\"Mensagem Original\"] || '').toLowerCase() }}",
                    "rightValue": ".*(cancel\ndevolver\nreembolso\ncancelar\nno\nnão)*.",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Cancelamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae71f7a3-cba2-49dc-b393-a124104c29d8",
                    "leftValue": "={{ ($json[\"Mensagem Original\"] || '').toLowerCase() }}",
                    "rightValue": ".*(andamento\nseguimento\nrastreio\ntracking\nonde está\ndónde está).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Andamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b1fec95-9a9d-4ec1-a06b-ec0cf82bab8e",
                    "leftValue": "={{ ($json[\"Mensagem Original\"] || '').toLowerCase() }}",
                    "rightValue": ".*(andamento\nseguimento\nrastreio\ntracking\nonde está\ndónde está).*",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Status Parado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-336, 480],
      "id": "1f6a3aa8-e51c-468e-9b91-a83dfc32b808",
      "name": "Switch"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Mensagem_Final",
              "stringValue": "=Hola, {{ $('Guardar no Sheets (Gmail)').item.json[\"Nome do Cliente\"] }}! ¿Cómo estás? Con respecto a tu solicitud de cancelación, entiendo perfectamente lo que necesitás.  Te informo que tu pedido ya ha sido procesado. Como el proceso ya está avanzado, no podemos detenerlo en esta instancia.  Si aún así deseás cancelar, podés rechazar la entrega cuando el correo intente entregarlo en tu domicilio. Apenas recibamos la confirmación de la devolución en nuestro sistema, vamos a proceder con el reembolso de inmediato, sin demoras.  Cualquier otra consulta que tengas, escribime con tranquilidad. Estoy acá para ayudarte."
            }
          ]
        },
        "options": {}
      },
      "id": "cc5876ba-c5f8-47c5-b227-27e83755be36",
      "name": "Template - Cancelamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [48, 320]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Mensagem_Final",
              "stringValue": "=Hola, {{ $('Guardar no Sheets (Gmail)').item.json[\"Nome do Cliente\"] }}! ¿Cómo estás? Entiendo perfectamente tu frustración por la espera, pero queremos confirmarte que está todo bien con tu pedido.  No hay ningún problema con tu compra, simplemente se encuentra en los tiempos de tránsito normales de la logística internacional. Tu pedido SÍ está en manos de la transportista.   Agradecemos de corazón tu comprensión en esta situación. Estamos siguiendo tu caso diariamente y tu pedido será entregado en breve.  ¡Cualquier otra duda, estoy a tu disposición!"
            }
          ]
        },
        "options": {}
      },
      "id": "b8b8ce12-e50f-4b49-98fd-3092c1f9ce71",
      "name": "Template - Status Parado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [48, 688]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Mensagem_Final",
              "stringValue": "=Hola, {{ $('Guardar no Sheets (Gmail)').item.json[\"Nome do Cliente\"] }}! ¿Cómo estás? Estamos avanzando con el envío de tu pedido.   Tu paquete será entregado por nuestra transportista MailAmericas. La fecha estimada de entrega se irá actualizando a medida que el pedido avance.   Además, si en el momento de la entrega no podés recibirlo, podés dejar a un tercero autorizado (familiar, vecino o encargado) para que firme la recepción en tu nombre, tal como lo permite la política de entrega.  ¡Cualquier otra duda, avísame!"
            }
          ]
        },
        "options": {}
      },
      "id": "df0b8e09-bfbd-4cf5-b134-fc71b54592c0",
      "name": "Template - Andamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [48, 496]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d81fd64-d102-4943-aea2-2940212567f0",
              "name": "=dados_shopify.numero_pedido",
              "value": "#98765",
              "type": "string"
            },
            {
              "id": "9454fda3-79a2-49ef-a161-68a50e4694d8",
              "name": "=dados_shopify.status",
              "value": "Enviado",
              "type": "string"
            },
            {
              "id": "46b2ca46-a536-4da5-b1a4-6da2d41e008a",
              "name": "=dados_shopify.rastreio",
              "value": "ML123456789BR",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [384, 496],
      "id": "103901fd-7f75-461d-857f-0e627764521a",
      "name": "Consultar Shopify (MOCK)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.dados_shopify.status }}",
                    "rightValue": "Enviado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "692b89d4-c717-4b09-9635-0a44f7df7f2b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pedido Enviado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [656, 400],
      "id": "42bca433-5b69-40c5-a13b-e0a95af3cdd7",
      "name": "Regra Pós-Shopify"
    },
    {
      "parameters": {
        "url": "https://api.crm-ficticio.com/v1/pedidos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Guardar no Sheets (Gmail)').item.json[\"E-mail do Cliente\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [800, 608],
      "id": "b86caec4-181b-45ee-8601-8f8708f93953",
      "name": "Consultar CRM (MOCK)",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un asistente de soporte. Tu ÚNICA función es saludar al cliente de forma empática y confirmar que has recibido su duda, prometiendo una revisión detallada.\n\nREGLAS:\n\nResponde en ESPAÑOL.\n\nNO menciones Google Sheets, Apps Script, ni procesos técnicos.\n\nNO inventes estados de pedido ni fechas.\n\nMáximo 3 párrafos.\n\nNombre del cliente: {{ $('Guardar no Sheets (Gmail)').item.json[\"Nome do Cliente\"] }}\n\nMensaje del cliente para referencia: {{ $('Guardar no Sheets (Gmail)').item.json[\"Mensagem Original\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [384, 672],
      "id": "cd1de00b-359b-4a13-9f24-20a81ce18681",
      "name": "Gerar Resposta (Gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "k786QSr6PtGJykQF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Escutar Email (Gmail)').item.json.Subject }}",
        "message": "={{ $json.Mensagem_Final ? $json.Mensagem_Final + '\\n\\n📦 Número del Pedido: ' + $json.dados_shopify.numero_pedido + '\\n🔍 Código de Seguimiento: ' + $json.dados_shopify.rastreio + '\\n👉 Seguimiento del Pedido: https://mailamericas.com' : ($('Gerar Resposta (Gemini)').isExecuted ? ($('Gerar Resposta (Gemini)').item.json?.content?.parts[0]?.text || $('Gerar Resposta (Gemini)').item.json?.text) : \"Hola, recibimos su contacto y nuestro equipo lo revisará a la brevedad.\") }}",
        "options": {
          "sendTo": "={{ $('Escutar Email (Gmail)').item.json.From }}"
        }
      },
      "id": "83da68aa-8785-4314-bdd8-fe30d7bed996",
      "name": "Criar Rascunho no Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1024, 480],
      "webhookId": "89046949-fe5b-4f7d-9b7c-628c348edee4",
      "credentials": {
        "gmailOAuth2": {
          "id": "N6Bph6Y0wyMoyGfU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Escutar Email (Gmail)": {
      "main": [
        [
          {
            "node": "Guardar no Sheets (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar no Sheets (Gmail)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Template - Cancelamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template - Andamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Template - Status Parado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Resposta (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template - Cancelamento": {
      "main": [
        [
          {
            "node": "Consultar Shopify (MOCK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template - Status Parado": {
      "main": [
        [
          {
            "node": "Consultar Shopify (MOCK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template - Andamento": {
      "main": [
        [
          {
            "node": "Consultar Shopify (MOCK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Shopify (MOCK)": {
      "main": [
        [
          {
            "node": "Regra Pós-Shopify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regra Pós-Shopify": {
      "main": [
        [
          {
            "node": "Criar Rascunho no Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar CRM (MOCK)": {
      "main": [
        [
          {
            "node": "Criar Rascunho no Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Resposta (Gemini)": {
      "main": [
        [
          {
            "node": "Consultar CRM (MOCK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Rascunho no Gmail": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}